@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root[data-theme="dark"] {
    --background-main: 0, 0, 0;
    --background-secondary: 10, 28, 38;
    --background-accent: 5, 150, 105;
    --label-foreground: 255, 255, 255;
    --muted-foreground: 154, 156, 155;
  }

  :root[data-theme="light"] {
    --background-main: 255, 255, 255;
    --background-secondary: 230, 231, 232;
    --background-accent: 4, 120, 87;
    --label-foreground: 0, 0, 0;
    --muted-foreground: 154, 156, 155;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--label-foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}